/* MOBILE VIEW */
/* FIX STICKY NAV NOT WORKINGGGGGGGGGGGGGGGGGGG */

/* FONT COLORS */
/* color: #fff;
color: #9cb3c9;
color: #b6cce2;
color: #ced9e4; */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  font-family: "Lato", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

/* HOME PAGE */

.home-section {
  height: 100%;
  /* background-color: #0e2439; */
  background: linear-gradient(
    90deg,
    rgba(14, 36, 57, 1) 0%,
    rgba(31, 54, 77, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAV LOGO */
.fa-bars {
  color: #edf0f8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  color: #edf0f8;
  padding-left: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-nav {
  border: none;
  background: none;
  padding: 0.5rem;
  margin: 1rem 2rem 1rem 1rem;
}

nav {
  background-color: #0e2439;
  padding: 0.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
}

nav ul {
  /* position: relative; */
  /* width: 101%; */
  background-color: #0e2439;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0.8rem 0 0 0;
  margin-inline-start: -1rem;
  animation: ul-anim 500ms;
  border-top: 2px solid #9cb3c9;
  border-bottom: 2px solid #9cb3c9;
}

@keyframes ul-anim {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
  }
}

nav ul li {
  padding: 0.3rem;
  /* list-style: none; */
  text-align: center;
  border-top: 1px solid black;
}

nav ul li:hover {
  background-color: #9cb3c9;
  transition: 1s;
}

.hide-nav {
  display: none;
}

.nav-li a {
  display: block;
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.introduction {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction .name {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 1rem;
  text-shadow: 13px 15px 6px rgba(0, 0, 0, 0.36);
  animation: introduction-animation 7s infinite forwards;
}

.introduction .p-intro {
  text-shadow: 13px 15px 6px rgba(0, 0, 0, 0.36);

  font-size: 2rem;
  color: #b6cce2;
  animation: introduction-animation 7s infinite;
}

.scroll-down {
  padding: 3rem;
  background: none;
  border: none;
}

/* SCROLL DOWN LOGO */
.fa-angles-down {
  color: #b6cce2;
}

@keyframes introduction-animation {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0.4;
  }
}

/* ABOUT PAGE */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e2439;
}

.about-h2 {
  color: #fff;
  font-size: 4rem;
  margin: 3rem 0px 3rem 0px;
  /* text-shadow: 5px 12px 4px rgba(0, 0, 0, 0.16); */
}

.about-p {
  font-size: 2rem;
  max-width: 90%;
  margin-bottom: 1.5rem;
  color: #9cb3c9;
  /* color: #ced9e4; */
  border: 3px solid #1f364d;
  padding: 3rem;
}

.skills-ul {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-ul li {
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
  background-color: #1f364d;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
}

.skills-ul li img {
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
}

/* PROJECTS PAGE */

.projects-section {
  color: white;
  /* background-color: #2f4172; */
  background-color: #091f33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-section .projects-h2 {
  margin: 3rem 0px 3rem 0px;
  font-size: 4rem;
}

.projects-section article {
  display: flex;
  flex-direction: column;
  /* padding: 5rem; */
  margin: 1.5rem 2rem 5rem 2rem;
  border-radius: 15px;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
  background-color: #1f364d;
  padding: 0 0 3rem 0;
}

.projects-section article > * {
  flex-basis: 0px;
  flex-grow: 1;
  order: 2;
}

/* #project-article-second {
  margin-bottom: 4rem;
} */

.picture-div {
  background-color: #9aa8cb32;
  padding: 3.5rem;
  border-radius: 15px 15px 0 0;
}

article .p-div {
}

.p-div h3 {
  font-size: 3rem;
  /* margin: 1rem; */
  padding: 1rem;
  margin: 1rem;
  color: #fff;
}

.p-div p {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  color: #9cb3c9;
}

.projects-a {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #bac3cb;
  margin: 1rem;
}

.live-app-a {
  margin: 0 1rem 0 2rem;
}

/* FOOTER */

footer {
  /* background-color: #374c65; */
  background-color: #1f354d;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul li {
  padding: 1rem;
}

footer ul li i {
  color: #9cb3c9;
}

ul li span {
  color: #9cb3c9;
  font-size: 1rem;
}

/* footer ul li img {
  width: 7rem;
  height: 7rem;
  object-fit: scale-down;
} */

@media only screen and (min-width: 520px) {
  .projects-container {
    display: flex;
  }

  .projects-container > * {
    flex: 1;
    margin: 1.5rem 2rem 5rem 2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-div {
    display: none;
  }

  .hide-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    border: none;
  }

  .hide-nav li {
    border: none;
  }
}

@media only screen and (min-width: 840px) {
  .about-container {
    display: flex;
    margin: 2rem;
  }

  .about-container > * {
    flex: 1;
  }
}
